*,
*::after,
*::before {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --color-theme: hsla(240, 100%, 80%, 1);
    --color-wrapper: hsla(240, 100%, 75%, 1);
    --color-wrapper-title-shadow: hsla(240, 100%, 65%, 1);
    --color-btn-container: hsla(240, 100%, 75%, 1);
    --color-btn-background: hsla(240, 100%, 85%, 1);
    --color-btn-border: hsla(240, 90%, 70%, 1);
    --color-scrollbar-thumb: hsla(240, 100%, 85%, 1);
    --color-scrollbar-thumb-hover: hsla(240, 100%, 70%, 1);
    --color-btn-background-clicked: hsla(0, 100%, 85%, 1);
    --color-btn-border-clicked: hsla(0, 90%, 70%, 1);
}

body {
    margin: 0;
    background-color: var(--color-theme);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: 50vw;
    max-width: 70vh;
    background-color: var(--color-wrapper);
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.wrapper-title {
    padding: .5em;
    font-size: 2em;
    font-weight: 509;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: .05em .05em .05em var(--color-wrapper-title-shadow);
}

.canvas-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#canvas {
    width: 100%;
    height: 100%;
    background-color: black;
}

#buttons-container {
    padding: 1em;
    background-color: var(--color-btn-container);
    display: flex;
    gap: 1em;
    overflow: auto;
    border-bottom-left-radius: .5em;
    border-bottom-right-radius: .5em;
}

.btn-balls-toggle {
    background-color: var(--color-btn-background);
    border-radius: .3em;
    border: var(--color-btn-border) .1em solid;
    font-size: 1.2em;
    cursor: pointer;
    box-shadow: inset 0 -.1em .1em rgba(0, 0, 0, 0.1),
        0.1em 0.1em .5em rgba(0, 0, 0, 0.25);
}

.btn-balls-toggle.clicked {
    background-color: var(--color-btn-background-clicked);
    border: var(--color-btn-border-clicked) .1em solid;
}

::-webkit-scrollbar {
    width: 1em;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 .1em white;
    border-radius: 1em;
}

::-webkit-scrollbar-thumb {
    background: var(--color-scrollbar-thumb);
    border-radius: 1em;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-scrollbar-thumb-hover);
    ;
}