body {
    margin: 0;
}

#container1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#inputs1 {
    display: flex;
    justify-content: center;
}

#outputs2 {
    display: flex;
    justify-content: center;
    text-align: center;
}

#slope1 {
    width: 20%;
}

#beginingvalue1 {
    width: 20%;
}

#pointtoreach1 {
    width: 20%;
}

#propabilitypoint1 {
    width: 20%;
}

#outputs1 {
    display: flex;
    background-color: beige;
}