@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Press+Start+2P&display=swap');

body {
    background-color: rgb(85, 85, 192);
    margin: 0px;
}

.title {
    margin-top: 50px;
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins";
    color: rgb(36, 53, 128);
}

.control {
    margin: 50px;
    display: flex;
    justify-content: center;
}

.title1 {
    background-color: rgb(91, 110, 209);
    display: flex;
    justify-content: center;
    padding: 10px;
    border: black;
    font-family: "Poppins";
    display: flex;
    justify-content: center;
    align-items: center;
}

#firstword {
    background-color: rgb(101, 122, 224);
    color: white;
}

#firstword::placeholder {
    color: white;
    font-family: "Poppins";
    font-size: x-small;
}

#unit {
    background-color: rgb(101, 122, 224);
    color: white;
    width: 11%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#unit::placeholder {
    color: white;
    font-family: "Poppins";
    font-size: x-small;
}

#add {
    background-color: rgb(31, 189, 31);
    font-family: "Poppins";
}



.container1 {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.title2 {
    background-color: rgb(91, 110, 209);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins";
}

#figure1 {
    background-color: rgb(101, 122, 224);
    color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#figure1::placeholder {
    color: white;
    font-family: "Poppins";
    font-size: x-small;
}

#figure2 {
    background-color: rgb(101, 122, 224);
    color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#figure2::placeholder {
    color: white;
    font-family: "Poppins";
    font-size: x-small;
}

#randomNumber {
    background-color: rgb(91, 110, 209);
    border: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    font-family: "Poppins";
}



.container2 {
    background-color: rgb(91, 110, 209);
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    margin: 0 35vw;
    padding: 10px;
}

.undertitle_container2 {
    display: flex;
    justify-content: center;
    font-family: "Poppins";
}

#finalword {
    width: 100px;
    height: 100px;
    background-color: rgb(91, 110, 209);
    border: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins";
}

#wordList {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Poppins";
}