*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
    height: 100%;
}

:root {
    --main-background-color-1: hsla(209, 100%, 78%);
    --main-background-color-2: rgb(1, 1, 45);
    --opacity-calendar-fields: 0.7;
    --number-of-columns: 8;
    --z-index-popup: 10;
}

body {
    min-height: 100%;
    padding: 0;
    margin: 0;
    background: var(--main-background-color-2);
}

::-webkit-scrollbar {
    width: 1em;
}

::-webkit-scrollbar-track {
    background: var(--main-background-color-2);
    border-radius: 100vw;
    margin-block: .5em;
}

::-webkit-scrollbar-thumb {
    background: hsla(250, 100%, 5%);
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
    background: hsla(250, 100%, 20%);
}

.wrapper {
    min-height: 100vh;
    height: 100%;
    padding-bottom: 2em;
}

.calendar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.calendartitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bolder;
    font-size: 3em;
    padding: 1.5em 0;
    color: white;
}

.calendarfields {
    width: 80vw;
    display: grid;
    grid-template-columns: repeat(var(--number-of-columns), 1fr);
    gap: 1.5em 1em;
}

.calendarfield {
    aspect-ratio: 1/1;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 2.5em;
    background-color: white;
    text-shadow: .5px .5px .5px black;
    opacity: var(--opacity-calendar-fields);
    border-radius: 1rem;
    border: none;
    color: black;
}

.calendarfield:hover,
.calendarfield:focus {
    --opacity-calendar-fields: 1;
    transition: ease-in-out 250ms;
    transform: scale(1.1);
}

#credits {
    width: fit-content;
    cursor: pointer;
    font-size: .5em;
    background: none;
    color: rgb(159, 177, 247);
    border: none;
}

#popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 250ms ease-in-out;
    border-radius: 1em;
    z-index: var(--z-index-popup);
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#popup.active {
    transform: translate(-50%, -50%) scale(1);
}

#popup.credits {
    background-color: rgb(121, 121, 217);
    display: flex;
    justify-content: flex-start;
    max-height: 80vh;
    width: 80vw;
    padding: 1em;
}

.close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 2em;
    font-weight: bold;
}

.credits-text {
    width: 100%;
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
    font-size: 1.5em;
    overflow: auto;
}

.credits-text::-webkit-scrollbar {
    width: .4em;
}

#overlay {
    position: fixed;
    min-height: 100vh;
    height: 100%;
    z-index: var(--z-index-popup);
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .8);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
    touch-action: none;
    scroll-behavior: smooth;
}

#canvas {
    display: block;
    margin: 0;
    position: absolute;
    background-size: cover;
    z-index: -1;
    background: var(--main-background-color-2);
}

.cannot-open {
    border: .25rem solid red;
    transition: 250ms ease-in-out;
}