body {
    margin: 0;
}

.container1 {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    background-color: #0dd2a7;
    padding: 10px;
}

.container1-item-title {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: x-large;
    font-weight: bolder;
    border: black solid;
    padding: 5px;
}

.container1-item {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    text-align: center;
    border: black solid 4px;
    font-weight: bold;
    background-color: black;
}

#xValueBox1 {
    background-color: rgb(0, 100, 0);
}

#xValueTitle1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
}

.inputXValues1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 5%;
}

#startValueX1 {
    width: 50%;
    border-radius: 5px;
    background-color: rgb(26, 153, 26);
}

#startValueX1::placeholder {
    color: white;
    text-align: center;
}

#endValueX1 {
    width: 50%;
    border-radius: 5px;
    background-color: rgb(26, 153, 26);
}

#endValueX1::placeholder {
    color: white;
    text-align: center;
}

#stepValueX1 {
    width: 50%;
    border-radius: 5px;
    background-color: rgb(26, 153, 26);
}

#stepValueX1::placeholder {
    color: white;
    text-align: center;
}

#commitXValues1 {
    width: 50%;
    border-radius: 5px;
    background-color: rgb(3, 78, 3);
    color: white;
    margin-top: 5%;
}

#yValueTitle1_1 {
    background-color: rgb(100, 92, 2);
}

#yValueTitle1_2 {
    background-color: rgb(94, 64, 0);
}

#yValueTitle1_3 {
    background-color: rgb(106, 46, 0);
}

#yValueTitle1_4 {
    background-color: rgb(93, 2, 2);
}

.xValueBars1 {
    background-color: green;
    margin: 0;
    border-bottom: black solid 2px;
    border-radius: 7px;
    padding: 2px;
}

.yValueBars1_1 {
    background-color: rgb(128, 117, 0);
    margin: 0;
    border-bottom: black solid 2px;
    border-radius: 7px;
    padding: 2px;
}

.yValueBars1_2 {
    background-color: rgb(128, 87, 0);
    margin: 0;
    border-bottom: black solid 2px;
    border-radius: 7px;
    padding: 2px;
}

.yValueBars1_3 {
    background-color: rgb(128, 55, 0);
    margin: 0;
    border-bottom: black solid 2px;
    border-radius: 7px;
    padding: 2px;
}

.yValueBars1_4 {
    background-color: rgb(128, 0, 0);
    margin: 0;
    border-bottom: black solid 2px;
    border-radius: 7px;
    padding: 2px;
}