body {
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    counter-reset: heading;
}

[data-tooltip] {
    position: relative;
    font-size: 1.1rem;
    margin-top: 50px;
}

[data-tooltip]:hover:before {
    content: attr(data-tooltip);
    position: absolute;
    width: 100%;
    background-color: black;
    color: white;
    padding: .25rem;
    top: -.5rem;
    left: 50%;
    transform: translate(-50%, -100%);
}

.list1 :is(ul, ol) :is(ul, ol) li {
    color: green;
}

.list1 :is(ul, ol) {
    font-weight: bold;
}

h2::before {
    content: "Part " counter(heading, upper-roman) " ";
    counter-increment: heading;
}

.list2 ol {
    counter-reset: outline;
}

.list2 li {
    list-style: none;
}

.list2 li::before {
    content: counters(outline, ".") ". ";
    counter-increment: outline;
}

.flex {
    width: 100%;
    display: flex;
    gap: 10px;
}

.item {
    background-color: red;
    width: 100%;
    height: 50px;
}

.item:nth-child(2n) {
    background-color: blue;
}

.circles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 50px;
    margin-bottom: 1rem;
}

.circle1 {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: conic-gradient(red, green);
}

.circle2 {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: conic-gradient(hsl(360, 100%, 50%),
            hsl(315, 100%, 50%),
            hsl(270, 100%, 50%),
            hsl(225, 100%, 50%),
            hsl(180, 100%, 50%),
            hsl(135, 100%, 50%),
            hsl(90, 100%, 50%),
            hsl(45, 100%, 50%),
            hsl(360, 100%, 50%));
}

.circle3 {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: conic-gradient(red .25turn,
            blue .25turn .65turn,
            green .5turn);
}

.circle4 {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: conic-gradient(hsl(0, 100%, 50%),
            hsl(90, 100%, 50%),
            hsl(180, 100%, 50%),
            hsl(270, 100%, 50%),
            hsl(360, 100%, 50%),
            hsl(270, 100%, 50%),
            hsl(180, 100%, 50%),
            hsl(90, 100%, 50%),
            hsl(0, 100%, 50%));
}

.circle5 {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: radial-gradient(red, green);
}

.circle6 {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: repeating-conic-gradient(red 0deg 10deg, orange 10deg 20deg, yellow 20deg 30deg, green 30deg 40deg, blue 40deg 50deg, purple 50deg 60deg);
}


.circle7 {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: repeating-radial-gradient(red 0%, green 10%);
}

.circle8 {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: repeating-radial-gradient(red 0%, orange 3.33%, yellow 6.66%, green 10%, blue 13.33%, purple 16.66%, brown 20%);
}