@import url('https://fonts.googleapis.com/css2?family=Poppins&family=REM:wght@500&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: "Poppins";
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    color: white;
    background-image: url("https://source.unsplash.com/1600x900/?nature,water");
    background-size: cover;
    background-repeat: no-repeat;
}

.card {
    background-color: rgba(0, 0, 0, 0.65);
    padding: 3em;
    border-radius: 3em;
    width: 50vw;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.search {
    display: flex;
    align-items: center;
    font-size: 1.5em;
}

.search>button {
    margin: 1em;
    border-radius: 50%;
    border: none;
    height: 5em;
    width: 5em;
    outline: none;
    background: #7c7c7c68;
    color: white;
    cursor: pointer;
    transition: 200ms ease-in-out;
}

.search>button:hover {
    background: #7c7c7c;
}

.search-bar {
    border: none;
    outline: none;
    padding: .8em 2em;
    border-radius: 10em;
    background: #7c7c7c68;
    color: white;
    font-size: 1.4rem;
}